form {
    color: rgb(0, 0, 0);
    height: auto;
    width: 450px;
    background-image: url(../images/Paperformbg.jpg);
    border-radius: 2%;
}

fieldset {
    color: black;
}

.wrapper {
    float: center;
}

/* width */
.w-40vw {
    width: 40vw;
}