/*
* common
*/
* {
    margin: 0;
    padding: 0;
}

body {
    color: #090000;
}


footer {
    color: #fff;
}

h2 {
    font-size: 2.2em;
    margin: 2rem 0;
    text-align: center;
}

.max-w100 {
    max-width: 100%;
}

.t-right {
    text-align: right;
}


/*
* card
*/
.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    text-decoration: none;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: calc(100% / 3.5);
    min-width: 300px;
    max-width: 400px;
}

.card:last-child {
    margin-right: 0;
}

.card-title {
    font-size: 1.3rem;
}

.card-image {
    padding: 1rem 1rem 0;
}

.card-thumbnail {
    width: 100%;
    border: solid 1px #a89897;
}

.card-body {
    padding: 1rem;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #ddd;
}

/*
* button
*/
.button {
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    padding: .5rem 1rem;
    border-radius: .25rem;
}

.btn-orange {
    background-color: #f9ad4b;
    color: #fff;
}

.btn-orange:hover,
.btn-orange:focus {
    background-color: #ad7020;
}

/*
* modal
*/
/* gray background */
.layer {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    opacity: 0;
    visibility: hidden;
}

.modal-inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: block;
    padding: 21px 8px 21px;
    height: auto;
}

.modal-contents {
    padding-top: 2rem;
    display: flex;
}

.modal-image {
    max-height: 90%;
    width: calc(100% / 3);
    padding: 0 2rem;
}

.modal-content {
    padding: 1rem 3rem;
    width: calc(100%/3*2);
}

.model-content h3 {
    font-size: 1.5rem;
}

.modal-button-wrap {
    position: absolute;
    right: 15px;
    top: 20px;
    display: inline-flex;
    width: 2rem;
    height: 2rem;
}

.modal-button {
    margin-top: 20px;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-wrap: break-word;
}

/* cart icon on button */
.modal-button-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    background-size: contain;
    background-image: url("../images/cart-arrow-down-solid.svg");
}

.modal-button-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.close-btn:hover {
    cursor: pointer;
}

.layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.layer.is-open .modal {
    opacity: 1;
    visibility: visible;
}

.bg-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../images/polaroid-photos.png), url(../images/polaroid-photos.png);
    background-repeat: no-repeat;
    background-position: 20% 20%, 75% 75%;
}

/* for medium size */
@media (max-width: 800px) {
    .cards {
        width: 90%;
    }

    .card {
        width: 100%;
    }

    .modal {
        width: 70%;
    }

    .modal-contents {
        display: flex;
        flex-direction: column;
    }

    .modal-image {
        max-height: 100%;
        width: 100%;
    }

    .modal-content {
        width: 100%;
    }
}

/* for small size */
@media (max-width: 500px) {
    .cards {
        flex-direction: column;
    }

    .modal {
        width: 90%;
    }
}